body {
}
body {
    font-family: Arial;
}

#llAdminMain{
    width: 800px;
}

#llAdminHeaderDiv 
{
    margin-bottom:10px;
}

.siteContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 800px;
    height: 100%
}

.llPostContainer 
{
    width:100%;
}

.llPostBody 
{
    width: 100%;
}

.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.llPostBodyImage {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}