#llAdminPostBodyInput
{
    height:400px;
    width:100%
}


.llAdminPostEditLabelSpan {
    left: 0px;
    position: absolute;
    width: 25%;
}

.llAdminPostEditLongTextSpan 
{
    right: 0px;
    position: absolute;
    width: 75%;
}

.llAdminPostEditTextInput
{
    width:100%;
}

.llAdminPostEditFormTextInputContainer
{
    height:40px;
}


