<div class="llHeaderTagContainer"></div>
<div class="llSiteHeaderContainer">
    <div class="llHeaderLines"></div>
    <div class="llSiteHeaderTitle llSiteCenter">hitmanlabs</div>
    <div class="llHeaderLines"></div>
</div>
<div class="llMainContentContainer llSiteCenter">
    <div id="llBlogHome" data-bind="visible: navState.activeTab() == navState.tabs.home">
        <div data-bind="compose: '/apps/lablog/view/homeview.html'"></div>
    </div>
    <div id="llBlogPost" data-bind="visible: navState.activeTab() == navState.tabs.post">
        <div data-bind="compose: '/apps/lablog/view/postview.html'"></div>
    </div>
</div>