<div data-bind="with:homeViewModel">
    <div class="llBlogMain">
        <div data-bind="foreach: posts">
            <div class="llSummaryPostContainer">
                <div class="llSummaryPostHeader">
                    <div class="llSummaryPostTitle" data-bind="text: title, click: $parent.postTitleClicked"></div>
                    <div>
                        <span class="llPostByLineBy">by </span><span class="llPostByLine" data-bind="text: byLine"></span>
                        <span class="llPostPublishedDate" data-bind="text: publishedDatePretty"></span>
                    </div>
                </div>
                <div class="llSummaryPostBody">
                    <div data-bind="css: (firstVideo() != null || firstImage() != null) ? 'llSummaryBodyContainer' : 'llSummaryBodyContainerNoImage', html: summaryBody"></div>
                    <div class="llSummaryImageContainer" data-bind=" if: firstVideo() != null">
                        <div data-bind="html: firstVideo"></div>
                    </div>
                    <div class="llSummaryImageContainer" data-bind=" if: (firstVideo() == null && firstImage() != null)">
                        <div  data-bind="html: firstImage"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>