body {
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.llSiteHeaderTitle {
    font-size: 100px;
    color: #46ACC2;
}

.llBlogMain {
    width: 800px;
}

.siteContainer {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}

.llPostContainer 
{
    width:100%;
}

.llPostTitle {
    font-size: 60px;
    color: #06D6A0;
}

.llPostByLine {
    color: #EB5E55;
} 

.llPostPublishedDate {
    color:lightgray;
}

.llPostBody {
    width: 100%;
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
}

.llPostBodyImage {
    /*position: relative;
    left: 50%;
    transform: translate(-50%);*/
    width:100%;
}