body {
    background-color: #F8F7F5;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.llHeaderTagContainer {
    background-color: #261D15;
    position: fixed;
    left: 30px;
    right: 30px;
    top: 0px;
    height: 30px;
    border-bottom: 1px solid #F8F7F5;
    z-index: 100;
    padding-top: 3px;
    padding-left: 3px;
    overflow: hidden;
    white-space: nowrap;
}

.llHeaderTagScroll {
    background-color: #261D15;
    color: #F8F7F5;
    cursor: pointer;
    position: fixed;
    width: 30px;
    top: 0px;
    height: 30px;
    border-bottom: 1px solid #F8F7F5;
    z-index: 101;
    vertical-align:middle;
}

.llHeaderTagLeftScroll {
    left: 0px;
}

.llHeaderTagRightScroll {
    right: 0px;
} 

.llHeaderTagText {
    color: #F8F7F5;
    cursor: pointer;
}
    .llHeaderTagText:hover {
        text-decoration: underline;
    }

.llHeaderTagHash {
    color: #979797;
}

.llHeaderTagDivider {
    color: #E94F37;
}

.llSiteCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.llSiteHeaderTitle {
    font-size: 60px;
    color: #261D15;
    width: 800px;
    cursor: pointer;
}

.llHeaderLineTop {
    width: 100%;
    height: 10px;
    background-color: #0B2833;
}
.llHeaderLineBottom {
    width: 100%;
    height: 5px;
    background-color: #0B2833;
    margin-bottom: 20px;
}

.llBlogMain {
    width: 800px;
}

.llSiteContainer {
    position:absolute;
    left: 0px;
    right:0px;
    top:30px;
    bottom:0px;
    min-width:825px;
}

.llSiteHeaderContainer {
    height: 95px;
    left: 0px;
    right: 0px;
}

.llMainContentContainer {
    /*position: absolute;
    left: 50%;
    transform: translate(-50%);*/
}

.centered {
    position: fixed;
    left: 50%;
    transform: translate(-50%);
}


.llPostTitle {
    font-size: 50px;
    color: #0B2833;
}

.llPostByLine {
    font-family: Arial;
    color: #E94F37;
    font-weight: bold;
}

.llPostByLineBy {
    font-family: Arial;
    color: #979797;
}

.llPostPublishedDate {
    color: #979797;
}

.llPostContainer {
    width: 100%;
}

.llPostBody {
    width: 100%;
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
    color: #4C5454;
}

.llPostBodyImage {
    /*position: relative;
    left: 50%;
    transform: translate(-50%);*/
    width:100%;
}

.llSummaryPostContainer {
    display: table;
    margin-top: 10px;
    border-top: 1px solid #E94F37;
}

.llSummaryPostHeader {
    width: 100%;
}

.llSummaryPostTitle {
    font-size: 50px;
    color: #0B2833;
    cursor: pointer;
}
    .llSummaryPostTitle:hover {
        text-decoration: underline;
    }

.llSummaryPostBody {
    width: 100%;
    font-family: Arial;
    font-size: 20px;
    text-align: justify;
    color: #4C5454;
}

.llSummaryBodyContainerNoImage{
    width:100%;
}

.llSummaryBodyContainer {
    width:40%;
    float:left;
}

.llSummaryImageContainer {
    width:50%;
    margin-left:50%;
}