<div id="llAdminMain">
    <div id="llAdminHeaderDiv">
        <div>
            <span class="llLinkText" data-bind="click:function(){setNavigationTab(navState.tabs.home);}">home</span>
            <span class="llLinkText" data-bind="click:function(){setNavigationTab(navState.tabs.fileUpload);}">file</span>
            <span class="llLinkText" data-bind="click:function(){setNavigationTab(navState.tabs.postEditor);}">post</span>
        </div>
        <div>
            <span class="llLinkText" data-bind="click: signInClick, visible: !appState.activeSession()">Log In</span>
            <span class="llLinkText" data-bind="click: signOutClick, visible: appState.activeSession()">Log Out</span>
        </div>
    </div>
    <div id="llAdminMain" data-bind="visible: navState.activeTab() == navState.tabs.home">
        <div data-bind="compose: '/apps/admin/view/homeview.html'"></div>
    </div>
    <div id="llAdminFileUpload" data-bind="visible: navState.activeTab() == navState.tabs.fileUpload">
        <div data-bind="compose: '/apps/admin/view/fileuploadview.html'"></div>
    </div>
    <div id="llAdminPostEdit" data-bind="visible: navState.activeTab() == navState.tabs.postEditor">
        <div data-bind="compose: '/apps/admin/view/posteditview.html'"></div>
    </div>
</div>