<section>
    <div>
        <span data-bind="click:function(){setNavigationTab(navState.tabs.main);}">main</span>
        <span data-bind="click:function(){setNavigationTab(navState.tabs.fileUpload);}">file</span>
        <span data-bind="click:function(){setNavigationTab(navState.tabs.postEditor);}">post</span>
    </div>
    <div>
        <button data-bind="click: signInClick">Log In</button>
        <button data-bind="click: signOutClick">Log Out</button>
    </div>
    <div id="llAdminMain" data-bind="visible: navState.activeTab() == navState.tabs.main">
        <div data-bind="compose: '/apps/admin/view/mainview.html'"></div>
    </div>
    <div id="llAdminFileUpload" data-bind="visible: navState.activeTab() == navState.tabs.fileUpload">
        <div data-bind="compose: '/apps/admin/view/fileuploadview.html'"></div>
    </div>
    <div id="llAdminPostEdit" data-bind="visible: navState.activeTab() == navState.tabs.postEditor">
        <div data-bind="compose: '/apps/admin/view/posteditview.html'"></div>
    </div>
</section>