<div data-bind="with:fileUploadViewModel">
    <form class="form-inline" method="post" enctype="multipart/form-data">
        <div>
            <label>Tags</label>
            <input type="text" id="imageTags" />
        </div>
        <div>
            <label>Image Name</label>
            <input type="text" id="imageName" />
        </div>
        <div>
            <label>Description</label>
            <textarea id="imageDescription" />
        </div>
        <div>
            <input type="file" id="files"
                   name="files" />
            <input type="button"
                   id="upload"
                   value="Upload Selected Files"
                   data-bind="click: uploadClick" />
        </div>
    </form>
</div>