<div data-bind="with:postEditViewModel">
    <div class="llAdminPostEditFormTextInputContainer">
        <span class="llAdminPostEditLabelSpan1">Title:</span>
        <span  class="llAdminPostEditLongTextSpan"><input class="llAdminPostEditTextInput" type="text" /></span>
    </div>
    <div class="llAdminPostEditFormTextInputContainer">
        <span class="llAdminPostEditLabelSpan2">By Line:</span>
        <span class="llAdminPostEditInputSpan2"><input class="llAdminPostEditTextInput" type="text" /></span>
        <span class="llAdminPostEditLabelSpan2">Tags:</span>
        <span class="llAdminPostEditInputSpan2"><input class="llAdminPostEditTextInput" type="text" /></span>
    </div>
</div>